
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    position: sticky;
    top: 0;
    height: 30px;
    
}

/* Navbar sections */
.youtube_image,
.ism,
.cwp {
    display: flex;
    align-items: center;
}

.ism { gap: 10px; }
.cwp { gap: 15px; }

/* Search */
.search_bar {
    display: flex;
    align-items: center;
}

.search_bar input {
    width: 350px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.search_bar button {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-left: none;
    background: #f8f8f8;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

/* Mic */
.mic_btn {
    border: none;
    background: #f1f1f1;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
}

/* Create */
.create_btn {
    padding: 6px 12px;
    border: none;
    background: #f1f1f1;
    border-radius: 20px;
    cursor: pointer;
}

/* Main layout */
.combine {
    display: flex;
}

/* Sidebar */
.aside-bar {
    width: 220px;
    min-height: 100vh;
    border-right: 1px solid #ddd;
    padding: 10px;
}

.aside-bar ul {
    list-style: none;
    padding: 0;
}

.aside-bar li {
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    
}

.aside-bar li:hover {
    background: #f2f2f2;
}

/* Video section */
.first {
    flex: 1;
    padding: 20px;
}

/* Video Grid */
.video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.video-grid iframe {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    border: none;
}

aside ul li a {
    text-decoration: none;
}

